<h2>The Shooter's Story</h2>

<p class="centered"><img src='app/images/chad.jpg' /></p>

<p>In August of 2007 I lost my brother to a rare genetic disorder, fatty acid oxidation disorder.  This type of disorder is usually found in young children. My brother, Chad Falco, was 26 years old when he passed away, not knowing that he had been ill for a long time.  This devastating loss has been an exceptionally hard reality for my entire family.  One way for my family and I to help with our healing process is to honor him in a game that he loved, golf.</p>

<p>Beginning in 2008, my family and I started Shooter’s Charity Golf Outing.  The game of golf was one of Chad’s passions and what better way to pay tribute to him than to start a golf outing in his name.  Shooter was a nickname that Chad picked up along the way and originated from the movie “Happy Gilmore”, and the character Shooter Mcgavin.   So with all of these things heavy on our minds we started and ran a successful golf outing and will continue in the years to come.</p>

<p>Over the past 6 years we have been able to raise over $60,000 for Nationwide Children's Hospital.  We plan to continue this outing in the years to come and with the help of players and sponsors we will continue to generate money for Children’s Hospital.   Our goal is not just about raising money, our goal is to help out children in similar situations as my brother Chad.  There are children that are born with fatty acid oxidation and we want to help the doctors and researchers.  Some cases will go undetected until later on in life, like Chad, and with more research hopefully lives can be saved.</p>

<p>Thank You For Your Support, <br /> Tony Falco and Family</p>
