<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Shooter's Administration</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#players">Players</a></li>
                <li><a href="#teams">Teams</a></li>
                <li><a href="#sponsors">Sponsors</a></li>
            </ul>
        </div>
    </div>
</div>