<h2>Shooter's {{yearAbrv}} Registration Is Open!</h2>

<p>The {{year}} edition of the Shooter's Charity Golf Outing will take place <strong>Saturday, September 6th, 2014</strong> at <a target="_blank" href="http://www.marysvillegolfclub.com/">Marysville Golf Club</a> in Marysville, OH.</p>

<p>Cost is $75.00 per player. This includes 18 holes of golf, cart, lunch and entry into the Shooter's prize raffle that will take place immediately following lunch. Player check-in will begin at 7 AM with a shotgun start to follow at 8 AM.</p>

<p>Four-person scramble format with prizes being awarded for the following:</p>

<ul>
    <li>Team with lowest score</li>
    <li>Longest drive</li>
    <li>Longest putt</li>
    <li>Closest to the pin</li>
</ul>

<p>All proceeds will go towards genetic research at Nationwide's Children Hospital in Columbus, OH.</p>

<p>Register for this great event now through <strong>Wednesday, August 27th, 2014</strong> by clicking on the "Register" link above or by sending an e-mail to shootersgolf@yahoo.com.</p>