<div ng-controller="playerCtrl">
    <h2>Shooter's {{yearAbrv}} Player Registration</h2>
    <p>Players registering as singles will be assigned to a foursome. We'll let you know who you are playing with during the check-in process on the day of the event.</p>

    <form name="playerForm" novalidate>
        <div class="well">
            <h3>Player Information:</h3>

            <div class="row">
                <div class="col-xs-2">
                    <input name="firstName" class="form-control" placeholder="First Name" ng-model="player.firstName">
                </div>
                <div class="col-xs-3">
                    <input name="lastName" class="form-control" placeholder="Last Name" ng-model="player.lastName">
                </div>
                <div class="col-xs-4">
                    <input name="email" type="email" class="form-control" placeholder="E-Mail" ng-model="player.email">
                </div>
                <div class="col-xs-3">
                    <select name="shirtsize" class="form-control" ng-model="player.shirtsize">
                        <option value="" class="">Shirt Size</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">2XL</option>
                        <option value="XXXL">3XL</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <button type="submit" ng-click="registerPlayer(player)" class="btn btn-default">Register</button>
        </div>

    </form>
</div>