<h2>Shooter's {{yearAbrv}} Registration</h2>

<p>Registration will be open through <strong>Wednesday, August 27th, 2014</strong>.</p>

<ul>
    <li><a href="#team">Team Registration</a> - Have a couple of friends who are ringers? You can register a team of up to four players.</li>
    <li><a href="#player">Single Player Registration</a> - Don't have a team? Register as a single player and we will assign you to one.</li>
    <li><a href="#sponsor">Sponsor Registration</a> - Become a Shooter's {{yearAbrv}} sponsor. Details on available sponsorship opportunities can be found <a href="/Sponsorship">here</a>.</li>
</ul>