<p class="centered">
    <img src="app/images/logo.png">
    <br><br>
    <img src="app/images/childrenshospital.jpg">
</p>

<h3>Shooter's {{yearAbrv}} Flyer</h3>
<ul>
    <li><a href="/Flyer/Pdf">PDF</a></li>
    <li><a href="/Flyer/Doc">Word</a></li>
</ul>

<h3>Registration Tracker</h3>

<p class="centered">
    000
</p>

<p><a href="/Registration">Register</a> today and help support a great cause!</p>
<h3>Links</h3>
<ul>
    <li><a target="_blank" href="http://www.nationwidechildrens.org/">Nationwide Children's Hospital</a></li>
    <li><a target="_blank" href="http://www.marysvillegolfclub.com/">Marysville Golf Club</a></li>
    <li><a target="_blank" href="http://www.facebook.com/pages/Shooters-Charity-Golf-Outing/318916571944">Shooter's On Facebook</a></li>
</ul>

<h3>Contact Us</h3>

<p class="centered">shootersgolf@yahoo.com</p>