<div ng-controller="sponsorshipCtrl">
    <h2>Become a Shooter's {{yearAbrv}} Sponsor</h2>

    <p>The Shooter's Charity Golf Outing is offering the following sponorship opportunities:</p>

    <ul>
        <li><strong>$100 Hole Sponsorship</strong> - Includes a sign on a hole with your name or business logo thanking you for your support.</li>
        <li><strong>$100 T-Shirt Sponsorship</strong> - Includes your name or business logo on the back of a Shooter’s Charity Golf Outing t-shirt given out to each participant.</li>
        <li><strong>$150 "Hole In One" Sponsorship</strong> - This sponsorship consists of both of the above, your name or business logo on both a hole and the back of the Shooter’s t-shirt.</li>
    </ul>

    <p>In addition, all Shooter's sponsors will be recognized on the Shooter's Charity Golf Outing web site.</p>

    <p class="centered"><a href="#sponsor">Sponsor Registration</a></p>

    <h2>Thank You Shooter's {{yearAbrv}} Sponsors!</h2>

    <div ng-hide="(sponsors | filter: {level: 3}).length == 0">
        <h3>"Hole In One" Sponsors:</h3>
        <div class="sponsor-list">
            <ul>
                <li ng-repeat="sponsor in sponsors | filter: {level: 3}">{{sponsor.name}}</li>
            </ul>
        </div>
    </div>

    <div ng-hide="(sponsors | filter: {level: 1}).length == 0">
        <h3>Hole Sponsors:</h3>
        <div class="sponsor-list">
            <ul>
                <li ng-repeat="sponsor in sponsors | filter: {level: 1}">{{sponsor.name}}</li>
            </ul>
        </div>
    </div>

    <div ng-hide="(sponsors | filter: {level: 2}).length == 0">
        <h3>T-Shirt Sponsors:</h3>
        <div class="sponsor-list">
            <ul>
                <li ng-repeat="sponsor in sponsors | filter: {level: 2}">{{sponsor.name}}</li>
            </ul>
        </div>
    </div>
    
    <h3>Website Sponsors:</h3>

    <div class="sponsor-list">
        <ul>
            <li>The King Family</li>
            <li>Chili Fun Factory</li>
        </ul>
    </div>