<div ng-controller="teamCtrl">
    <h2>Shooter's {{yearAbrv}} Team Registration</h2>

    <p>In order to register a team, you must have at least two players. If you are registering a two or three person team, we will attempt to assign additional players to your team in order to form a foursome. If you do not have at least two players for a team, we encourage you to <a href="#player">register as a single player</a> and we will make sure that you are assigned to a team.</p>

    <form name="teamForm" novalidate>
        <div class="well">
            <div class="form-group">
                <label>Team Name:</label>
                <input name="teamName" class="form-control" ng-model="team.name" required />
            </div>

            <div><label>Add Player:</label></div>
            <table class="table">
                <tr>
                    <td><input class="form-control" placeholder="First Name" ng-model="newPlayer.firstName"></td>
                    <td><input class="form-control" placeholder="Last Name" ng-model="newPlayer.lastName"></td>
                    <td><input type="email" class="form-control" placeholder="E-Mail" ng-model="newPlayer.email"></td>
                    <td>
                        <select name="shirtsize" class="form-control" ng-model="newPlayer.shirtsize">
                            <option value="" class="">Shirt Size</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">2XL</option>
                            <option value="XXXL">3XL</option>
                        </select>
                    </td>
                    <td><button ng-click="addPlayer(newPlayer)" class="btn btn-success">Add</button></td>
                </tr>
            </table>

            <div ng-hide="team.players.length == 0">
                <br />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>E-Mail</th>
                            <th>T-Shirt</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in team.players">
                            <td>{{player.firstName}}</td>
                            <td>{{player.lastName}}</td>
                            <td>{{player.email}}</td>
                            <td>{{player.shirtsize}}</td>
                            <td>
                                <button ng-click="removePlayer($index)" class="btn btn-sm btn-warning">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pull-right">
            <button type="submit" ng-click="registerTeam()" class="btn btn-default" ng-disabled="team.players.length < 2">Register Team</button>
        </div>
    </form>
</div>