<div ng-controller="playerCtrl">
    <h3>Player Detail</h3>
    <div class="well">
        <div class="row">
            <div class="col-xs-1">Name:</div>
            <div class="col-xs-5">{{player.lastName}}, {{player.firstName}}</div>
        </div><br />
        <div class="row">
            <div class="col-xs-1">E-Mail:</div>
            <div class="col-xs-5">{{player.email}}</div>
        </div><br />
        <div class="row">
            <div class="col-xs-1">Shirt size:</div>
            <div class="col-xs-5">{{player.shirtSize}}</div>
        </div><br />
        <div class="row">
            <div class="col-xs-1">Team:</div>
            <div class="col-xs-5" ng-hide="player.teamName == null">{{player.teamName}}</div>
            <div class="col-xs-5" ng-show="player.teamName == null">
                <div class="row">
                    <div class="col-xs-8">
                        <select class="form-control" ng-model="team" ng-options="item.teamName for item in teams | filter:availableTeams">
                            <option value="">(Pick One)</option>
                        </select>
                    </div>
                    <div class="col-xs-4">
                        <button ng-click="addTeam(team)" class="btn btn-success">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button ng-click="deletePlayer(player.id)" class="btn btn-warning">Delete Player</button>
</div>