<div ng-controller="teamsCtrl">

    <h3>Team Listing</h3>
    <div class="well">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th># of Players</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in teams">
                    <td><a href="#teams/{{team.teamName}}">{{team.teamName}}</a></td>
                    <td>{{team.playerCount}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h4>Create Empty Team</h4>
    <form name="teamForm" novalidate>
        <div class="well">
            <div class="form-group">
                <label>Team Name:</label>
                <input name="teamName" class="form-control" ng-model="team.name" required />
            </div>
        </div>
        <div class="pull-right">
            <button type="submit" ng-click="registerTeam(team)" class="btn btn-default">Register Team</button>
        </div>
    </form>

</div>